
html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.canvas{
    border: 0px solid black;
    image-rendering: pixelated;
    image-rendering: optimizespeed;
}
.canvas1{
    display: none;
}
.canvas2{
    display: none;
}
.btn{
    margin-top: 20px;
    width: 200px;
}

#photo1{
    display: none;
    visibility: hidden;
}

#photo2{
    display: none;
    visibility: hidden;
}