


.canvas{
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-auto-rows: 20px;

    width: 600px;
    height: 600px;

    background-color: rgb(151, 214, 165);
}

.canvas__pixel{

    width: 20px;
    height: 20px;
    box-sizing: border-box;

    border: 1px solid rgb(85, 85, 223);
}

.marked{

    background-color: brown;
}

.colored{
    background-color: rgb(255, 255, 255);
}

.colored-brs{
    background-color: rgb(0, 0, 0);
}